pipeline/Anonymization_Output_Core.json
{
	"name": "Anonymization_Output_Core",
	"properties": {
		"description": "Creating anonymization review file (this one runs)",
		"activities": [
			{
				"name": "RunPython",
				"type": "Custom",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python Anonymization_Output_Core3.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlobStorage2",
						"type": "LinkedServiceReference"
					},
					"folderPath": "processing/AzureML",
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch_New",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "RunPython",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ErrorMessage",
					"value": {
						"value": "@activity('RunPython').error.message",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ErrorMessage": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Client/Client Setup Routines"
		},
		"annotations": []
	}
}