pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('Counter'),['50'])",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tempCounter",
								"value": {
									"value": "@string(add(int(variables('Counter')\n),1))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Counter",
								"value": {
									"value": "@variables('tempCounter')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "If Condition T1",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(variables('Counter'),['1'])",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "LookupT1",
										"type": "Lookup",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "\"select * from [dbo].[Tmp_OtherAnalysisTbl] where [dbo].[Id]='@{variables('Counter')}'\"",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"dataset": {
												"referenceName": "etalentTmp_OtherAnalysisTbl",
												"type": "DatasetReference"
											}
										}
									},
									{
										"name": "Set T1 Type",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "LookupT1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "T1_Type",
											"value": {
												"value": "@activity('LookupT1').output.firstRow.Id",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set T1 Year",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "LookupT1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "T1_Year",
											"value": {
												"value": "@activity('LookupT1').output.firstRow.Year",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Set T2 Quarter",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "LookupT1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "T1_Quarter",
											"value": {
												"value": "@activity('LookupT1').output.firstRow.Quarter",
												"type": "Expression"
											}
										}
									}
								]
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"tempCounter": {
				"type": "String"
			},
			"Counter": {
				"type": "String"
			},
			"T1_Type": {
				"type": "String"
			},
			"T1_Year": {
				"type": "String"
			},
			"T1_Quarter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}