pipeline/pipeline_Summarize_Test.json
{
	"name": "pipeline_Summarize_Test",
	"properties": {
		"activities": [
			{
				"name": "Read DB Name",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://elloreesecurevault.vault.azure.net/secrets/sql-database/f8dcde178f2149989daee6b6a5c83979?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set DB Name Variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read DB Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SQL_DATABASE",
					"value": {
						"value": "@activity('Read DB Name').output.value",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Run_Test_PY",
				"type": "Custom",
				"dependsOn": [
					{
						"activity": "Set DB Name Variable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"command": "python3 testCredPrint.py",
					"resourceLinkedService": {
						"referenceName": "AzureBlob_Etalent1Storage",
						"type": "LinkedServiceReference"
					},
					"folderPath": "processing/Python",
					"extendedProperties": {
						"SQL_DATABASE": {
							"value": "@variables('SQL_DATABASE')",
							"type": "Expression"
						}
					},
					"referenceObjects": {
						"linkedServices": [],
						"datasets": []
					},
					"environmentSettings": [
						{
							"name": "SQL_DATABASE",
							"value": "@variables('SQL_DATABASE')"
						}
					]
				},
				"linkedServiceName": {
					"referenceName": "AzureBatch_etalent1storage",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"SQL_DATABASE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Client"
		},
		"annotations": []
	}
}