pipeline/pipeline_Summarize.json
{
	"name": "pipeline_Summarize",
	"properties": {
		"activities": [
			{
				"name": "Read DB Name",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://elloreesecurevault.vault.azure.net/secrets/sql-database/f8dcde178f2149989daee6b6a5c83979?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Read DB Name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "SQL_DATABASE",
					"value": {
						"value": "@activity('Read DB Name').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"SQL_DATABASE": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Client"
		},
		"annotations": []
	}
}