pipeline/pipeline_hierarchymap_copy1.json
{
	"name": "pipeline_hierarchymap_copy1",
	"properties": {
		"activities": [
			{
				"name": "SetNewClientValue",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client/e27040af3d564d7cae2823f6be52081e?api-version=7.3",
					"body": {
						"value": "@pipeline().parameters.P_Client_Id"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "ReturnClientVersionValues",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetNewClientValue",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client/versions?api-version=7.3",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "SetArrayOld Client Versions",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ReturnClientVersionValues",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Var_OldClientVersions",
					"value": {
						"value": "@skip(activity('ReturnClientVersionValues').output.value, 1)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_DeleteOldClientVersions",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "SetArrayOld Client Versions",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Var_OldClientVersions')",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "DELETE",
								"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client/@{last(split(item().id,'/'))}?api-version=7.3",
								"authentication": {
									"type": "MSI",
									"resource": "https://vault.azure.net"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_Client_Id": {
				"type": "string"
			},
			"P_Client_Dt": {
				"type": "string"
			},
			"P_Folder_Year": {
				"type": "string"
			},
			"P_Folder_Quarter": {
				"type": "string"
			}
		},
		"variables": {
			"Var_OldClientVersions": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Client/Client Setup Routines"
		},
		"annotations": []
	}
}