pipeline/testvariablepopulation.json
{
	"name": "testvariablepopulation",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"dataset": {
						"referenceName": "Source_Template_Analysis_OtherTable",
						"type": "DatasetReference",
						"parameters": {
							"Source_Client_Fldr": {
								"value": "@pipeline().parameters.P_Client_Id",
								"type": "Expression"
							},
							"Source_Client_Date": {
								"value": "@pipeline().parameters.P_Client_Dt",
								"type": "Expression"
							},
							"Source_Client_Year": {
								"value": "@pipeline().parameters.P_Folder_Year",
								"type": "Expression"
							},
							"Source_Client_Quarter": {
								"value": "@pipeline().parameters.P_Folder_Quarter",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "curr_EventType",
					"value": {
						"value": "@activity('Lookup1').output.firstRow.Type",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "curr_EventYear",
					"value": {
						"value": "@string(activity('Lookup1').output.firstRow.Year)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "curr_EventQuarter",
					"value": {
						"value": "@string(activity('Lookup1').output.firstRow.Quarter)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"P_Client_Id": {
				"type": "string"
			},
			"P_Client_Dt": {
				"type": "string"
			},
			"P_Folder_Year": {
				"type": "string"
			},
			"P_Folder_Quarter": {
				"type": "string"
			}
		},
		"variables": {
			"curr_EventType": {
				"type": "String"
			},
			"curr_EventYear": {
				"type": "String"
			},
			"curr_EventQuarter": {
				"type": "String"
			}
		},
		"annotations": []
	}
}