etalentdatatransform/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etalentdatatransform"
		},
		"RestService1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestService1'"
		},
		"RestServiceUSCensusTest_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'RestServiceUSCensusTest'"
		},
		"etalentdb_connection_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'etalentdb_connection'"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{linkedService().SeriesId}"
		},
		"RestService1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "scott.prince@elloreetalent.com"
		},
		"RestServiceUSCensusTest_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://api.census.gov/data/2019/acs/acs1/subject?get=NAME,S0101_C01_001E"
		},
		"RestServiceUSCensusTest_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "scott.prince@elloreetalent.com"
		},
		"keyvault_secrets_elloree_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ElloreeSecureVault.vault.azure.net/"
		},
		"UpdatedCoreData_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/a8c75286-36f4-4235-9586-3729760f19d5/resourceGroups/etalent_bamboo/providers/Microsoft.Storage/storageAccounts/etalent1storage"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Client_Information_Secrets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetNewClientValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForClient",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Client_Id"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Client_Secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Client_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Client_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/Client?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForClient",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Client_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Delete_EngagementDt_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewClientValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementDate?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_EngagementDt_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_EngagementDt_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/EngagementDate?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForEngagementDt",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_EngagementDt_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewEngagementDtValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForEngagementDt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementDate?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Client_Dt"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_EngagementQuarter_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewEngagementDtValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementQuarter?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_EngagementQuarter_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_EngagementQuarter_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/EngagementQuarter?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForEngagementQuarter",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_EngagementQuarter_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewEngagementQuarterValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForEngagementQuarter",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementQuarter?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Folder_Quarter"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_EngagementYear_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewEngagementQuarterValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementYear?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_EngagementYear_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_EngagementYear_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/EngagementYear?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForEngagementYear",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_EngagementYear_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewEngagementYearValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForEngagementYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementYear?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Folder_Year"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Python Support"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Client_Information_Secrets_noYr_NoQtr')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetNewClientValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForClient",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Client_Id"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Client_Secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Client_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Client_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/Client?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForClient",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Client_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Delete_EngagementDt_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewClientValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementDate?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_EngagementDt_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_EngagementDt_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/EngagementDate?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForEngagementDt",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_EngagementDt_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewEngagementDtValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForEngagementDt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementDate?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Client_Dt"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Python Support"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Survey_Secrets')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SetNewClientValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForClient",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Client_Id"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Client_Secret",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/Client?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Client_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Client_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/Client?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForClient",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Client_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "Delete_EngagementDt_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewClientValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementDate?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_EngagementDt_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_EngagementDt_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/EngagementDate?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForEngagementDt",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_EngagementDt_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewEngagementDtValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForEngagementDt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementDate?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Client_Dt"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Survey_Metric",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewEngagementDtValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-metric?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Survey_Metrics_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Survey_Metric",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/survey-metric?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForSurveyMetric",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Survey_Metrics_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewSurveyMetricValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForSurveyMetric",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-metric?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Metric_Group"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_EngagementYear_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewSurveyMetricValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementYear?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_EngagementYear_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_EngagementYear_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/EngagementYear?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForEngagementYear",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_EngagementYear_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewEngagementYearValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForEngagementYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/EngagementYear?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Year"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Survey_Title_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewEngagementYearValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-title?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Survey_Title_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Survey_Title_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/survey-title?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForSurveyTitleYear",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Survey_Title_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewSurveyTitleValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForSurveyTitleYear",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-title?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Survey_Title"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Survey_Desc_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewSurveyTitleValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-desc?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Survey_Desc_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Survey_Desc_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/survey-desc?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForSurveyDesc",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Survey_Desc_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewSurveyDescValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForSurveyDesc",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-desc?api-version=7.3",
							"body": {
								"value": "@pipeline().parameters.P_Survey_Desc"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Delete_Survey_Event_Codes_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "SetNewSurveyDescValue",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-event-codes?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Purge_Survey_Event_Codes_Secret",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Delete_Survey_Event_Codes_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "DELETE",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/deletedsecrets/survey-event-codes?api-version=7.3",
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					},
					{
						"name": "Wait5ForSurveyEventCodes",
						"type": "Wait",
						"dependsOn": [
							{
								"activity": "Purge_Survey_Event_Codes_Secret",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"waitTimeInSeconds": 5
						}
					},
					{
						"name": "SetNewSurveyEventCodesValue",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "Wait5ForSurveyEventCodes",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "PUT",
							"headers": {},
							"url": "https://processingkeyvault-e01.vault.azure.net/secrets/survey-event-codes?api-version=7.3",
							"body": {
								"value": "@{string(split(replace(pipeline().parameters.P_Event_Type_Codes,' ',''),','))}"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://vault.azure.net"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Year": {
						"type": "string"
					},
					"P_Metric_Group": {
						"type": "string"
					},
					"P_Survey_Title": {
						"type": "string"
					},
					"P_Survey_Desc": {
						"type": "string"
					},
					"P_Event_Type_Codes": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Python Support"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"SeriesId": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"authenticationType": "Basic",
					"userName": "[parameters('RestService1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestService1_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestServiceUSCensusTest')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestServiceUSCensusTest_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('RestServiceUSCensusTest_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('RestServiceUSCensusTest_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentdb_connection')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('etalentdb_connection_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/keyvault_secrets_elloree')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('keyvault_secrets_elloree_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/UpdatedCoreData')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/audit/blobs/",
					"blobPathEndsWith": "All Core Data.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('UpdatedCoreData_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger1 test')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-05-20T21:56:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_BLS_Site')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference",
					"parameters": {
						"SeriesId": {
							"value": "@dataset().SeriesId",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"SeriesId": {
						"type": "string"
					}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_USCensus_Site')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestServiceUSCensusTest",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"SeriesId": {
						"type": "string"
					}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {
					"relativeUrl": "&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestServiceUSCensusTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentApplFlowMapTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "ClientApplFinalDisp",
						"type": "nvarchar"
					},
					{
						"name": "ClientApplStepBeforeFinalDisp",
						"type": "nvarchar"
					},
					{
						"name": "ClientApplRejectedReason",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeApplFinalDisp",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeApplCategory",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeSubmittedtoMgrFl",
						"type": "nvarchar"
					},
					{
						"name": "LoadDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TAApplMapTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentApplStatusFactTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to Silver Medalist Fact table",
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "ApplId",
						"type": "nvarchar"
					},
					{
						"name": "ReqId",
						"type": "nvarchar"
					},
					{
						"name": "EventDt",
						"type": "date"
					},
					{
						"name": "EventMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Applicants",
						"type": "int",
						"precision": 10
					},
					{
						"name": "WhiteAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "BlackAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LatinxAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "AsianAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "TwoorMoreAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OtherAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DNSIDAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "PoCAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "FemaleAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "MaleAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "OtherGenderAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DNSIDGenderAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DiverseAppl",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ApplRejected",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ApplWithdrew",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Candidates",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CandRejectedHR",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CandStM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CandRejectedHM",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CandInterviewed",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CandHired",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CandWithdrew",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TAApplStatusFactTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentApplicantFactTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to Applicant Fact table",
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "EventDt",
						"type": "date"
					},
					{
						"name": "EventMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Event",
						"type": "nvarchar"
					},
					{
						"name": "EventId",
						"type": "nvarchar"
					},
					{
						"name": "ReqId",
						"type": "nvarchar"
					},
					{
						"name": "ApplicantId",
						"type": "nvarchar"
					},
					{
						"name": "Source",
						"type": "nvarchar"
					},
					{
						"name": "ApplType",
						"type": "nvarchar"
					},
					{
						"name": "InternalWorkerId",
						"type": "nvarchar"
					},
					{
						"name": "Race",
						"type": "varchar"
					},
					{
						"name": "HispanicLatinoOrigin",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Veteran",
						"type": "nvarchar"
					},
					{
						"name": "LGBTQ",
						"type": "nvarchar"
					},
					{
						"name": "DisabilityInd",
						"type": "nvarchar"
					},
					{
						"name": "ApplFinalDisp",
						"type": "nvarchar"
					},
					{
						"name": "ApplStepBeforeFinalDisp",
						"type": "nvarchar"
					},
					{
						"name": "ApplRejectedReason",
						"type": "nvarchar"
					},
					{
						"name": "ApplOther1",
						"type": "nvarchar"
					},
					{
						"name": "ApplOther2",
						"type": "nvarchar"
					},
					{
						"name": "ApplOther3",
						"type": "nvarchar"
					},
					{
						"name": "ApplOther4",
						"type": "nvarchar"
					},
					{
						"name": "ApplOther5",
						"type": "nvarchar"
					},
					{
						"name": "LoadDt",
						"type": "date"
					},
					{
						"name": "ApplicantCity",
						"type": "nvarchar"
					},
					{
						"name": "ApplicantState",
						"type": "nvarchar"
					},
					{
						"name": "ApplicantCountry",
						"type": "nvarchar"
					},
					{
						"name": "ApplDt",
						"type": "date"
					},
					{
						"name": "ApplFinalDispDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "TAApplTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentBLSTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "LastRefreshDt",
						"type": "date"
					},
					{
						"name": "Source",
						"type": "nvarchar"
					},
					{
						"name": "SourceId",
						"type": "nvarchar"
					},
					{
						"name": "SourceDesc",
						"type": "nvarchar"
					},
					{
						"name": "Year",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Quarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Latest",
						"type": "nvarchar"
					},
					{
						"name": "EthnicOrigin",
						"type": "nvarchar"
					},
					{
						"name": "Race",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Headcount",
						"type": "int",
						"precision": 10
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BLSTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentBusHierarchyMapTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to Business Hierarchy mapping table",
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "ClientBusGrpLvl1",
						"type": "nvarchar"
					},
					{
						"name": "ClientBusGrpLvl2",
						"type": "nvarchar"
					},
					{
						"name": "ClientBusGrpLvl3",
						"type": "nvarchar"
					},
					{
						"name": "ClientBusGrpLvl4",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeBusGrpLvl1",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeBusGrpLvl2",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeBusGrpLvl3",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeBusGrpLvl4",
						"type": "nvarchar"
					},
					{
						"name": "LoadDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "BusinessMapTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentClientTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to Core Fact table",
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "ClientEngagementType",
						"type": "nvarchar"
					},
					{
						"name": "ClientSector",
						"type": "nvarchar"
					},
					{
						"name": "ClientDesc",
						"type": "nvarchar"
					},
					{
						"name": "LoadDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "ClientTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentCoreFactTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to Core Fact table",
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "WorkerId",
						"type": "nvarchar"
					},
					{
						"name": "EventDt",
						"type": "date"
					},
					{
						"name": "EventMonth",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventQuarter",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EventYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Event",
						"type": "nvarchar"
					},
					{
						"name": "EventId",
						"type": "nvarchar"
					},
					{
						"name": "EventType",
						"type": "nvarchar"
					},
					{
						"name": "EventReason",
						"type": "nvarchar"
					},
					{
						"name": "WorkerType",
						"type": "nvarchar"
					},
					{
						"name": "JobTitle",
						"type": "nvarchar"
					},
					{
						"name": "JobFunction",
						"type": "nvarchar"
					},
					{
						"name": "YearsinJob",
						"type": "float",
						"precision": 15
					},
					{
						"name": "PrevJobTitle",
						"type": "nvarchar"
					},
					{
						"name": "PrevJobFunction",
						"type": "nvarchar"
					},
					{
						"name": "LastPromoDt",
						"type": "date"
					},
					{
						"name": "OrigHireDt",
						"type": "date"
					},
					{
						"name": "CurrHireDt",
						"type": "date"
					},
					{
						"name": "YearsofSrvc",
						"type": "float",
						"precision": 15
					},
					{
						"name": "YearsofSrvcBand",
						"type": "nvarchar"
					},
					{
						"name": "YearsofSrvcBandSortId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "CorpTitle",
						"type": "nvarchar"
					},
					{
						"name": "PrevCorpTitle",
						"type": "nvarchar"
					},
					{
						"name": "ManagerInd",
						"type": "nvarchar"
					},
					{
						"name": "DirectMgrWorkerId",
						"type": "nvarchar"
					},
					{
						"name": "WorkOfficeLoc",
						"type": "nvarchar"
					},
					{
						"name": "WorkOfficeCity",
						"type": "nvarchar"
					},
					{
						"name": "WorkOfficeState",
						"type": "nvarchar"
					},
					{
						"name": "WorkOfficeCountry",
						"type": "nvarchar"
					},
					{
						"name": "WorkStrategicLocInd",
						"type": "nvarchar"
					},
					{
						"name": "LegacyOrg",
						"type": "nvarchar"
					},
					{
						"name": "BusinessGrpLvl1",
						"type": "varchar"
					},
					{
						"name": "BusinessGrpLvl2",
						"type": "varchar"
					},
					{
						"name": "BusinessGrpLvl3",
						"type": "varchar"
					},
					{
						"name": "BusinessGrpLvl4",
						"type": "varchar"
					},
					{
						"name": "Race",
						"type": "varchar"
					},
					{
						"name": "HispanicLatinoOrigin",
						"type": "nvarchar"
					},
					{
						"name": "Gender",
						"type": "nvarchar"
					},
					{
						"name": "Veteran",
						"type": "nvarchar"
					},
					{
						"name": "LGBTQ",
						"type": "nvarchar"
					},
					{
						"name": "DisabilityInd",
						"type": "nvarchar"
					},
					{
						"name": "BirthYear",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Generation",
						"type": "nvarchar"
					},
					{
						"name": "GenerationSortId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "EmpCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CoreFactTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/etalentCorpTitleMapTbl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to gender mapping table",
				"linkedServiceName": {
					"referenceName": "etalentdb_connection",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Client/Database"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ClientId",
						"type": "nvarchar"
					},
					{
						"name": "ClientEngagementDt",
						"type": "date"
					},
					{
						"name": "ClientCorpTitle",
						"type": "nvarchar"
					},
					{
						"name": "ClientElloreeCorpTitle",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeCorpTitle",
						"type": "nvarchar"
					},
					{
						"name": "ElloreeCorpTitleSortId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "LoadDt",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "CorpTitleMapTbl"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/etalentdb_connection')]"
			]
		}
	]
}