etalentdatatransform/linkedTemplates/ArmTemplate_31.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etalentdatatransform"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Disability')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Disability",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Disability",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Disability",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Disability": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Disability",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Disability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Ethnicity')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Ethnicity",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Ethnicity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Ethnicity",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Ethnicity": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"AppendEthnicityMapping": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Ethnicity",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Ethnicity",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Event",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Event",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Event",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Event": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"AppendEventMapping": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Event",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Event",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Gender')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Gender",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Gender",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Gender",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Gender": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Gender",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Gender",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Job')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Job",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Job",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Job",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"JobFunctionMappingFile": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": "@concat('Q',pipeline().parameters.P_Folder_Quarter)"
									},
									"CorpTitleMappingTable": {},
									"CoreDB": {},
									"BusHierarchyMapping": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Job",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Job",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_LGTBQ')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_LGBTQ",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_LGTBQ",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_LGBTQ",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"LGTBQ": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_LGTBQ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_LGTBQ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Location')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Location",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Location",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Location",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Location": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"AppendLocationMapping": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Location",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_PerformanceRating')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_PerformanceRating",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_PerfRating",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_PerformanceRating",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Performance": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"AppendPerformanceMapping": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_PerfRating",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_PerfRating",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_ReqStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_ReqStatus",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_ReqStatusMap",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_ReqStatus",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"RequisitionStatus": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"AppendReqStatusMapping": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_ReqStatusMap",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_ReqStatusMap",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_ReqType')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_ReqType",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_ReqType",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_ReqType",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"RequisitionType": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"AppendReqStatusMapping": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_ReqType",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_ReqType",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_Veteran')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Veteran",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Veteran",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Veteran",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Veteran": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete_Rec_Mapping_Veteran",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Veteran",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:19:43Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_Update_All_Set1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BLS_AmerIndAlaskNat_Female",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_AmerIndAlaskNat_Female",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_AmerIndAlaskNat_Male",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_AmerIndAlaskNat_Male",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_AmerIndAlaskNat_Total",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_AmerIndAlaskNat_Total",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Female_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Female",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Male_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Male",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Total",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Female_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Female",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Male_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Male",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Total",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Female_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Female_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Latinx_Female_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Latinx_Female_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Latinx_Male_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Latinx_Male_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Latinx_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Latinx_Total_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Male_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Male_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_NatHawPacIsl_Female_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_NatHawPacIsl_Female_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_NatHawPacIsl_Male_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_NatHawPacIsl_Male_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_NatHawPacIsl_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_NatHawPacIsl_Total_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Total_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_TwoOrMore_Female",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_TwoOrMore_Female",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_TwoOrMore_Male",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_TwoOrMore_Male",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_TwoOrMore_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_TwoOrMore_Total_Output",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Female_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Female",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Male_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Male",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Total_Output",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Total",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Female_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Female_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Female_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Female_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Male_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Male_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Male_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Male_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Total_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Total_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Asian_Total_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Asian_Total_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Female_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Female_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Female_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Female_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Male_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Male_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Male_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Male_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Total_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Total_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Black_Total_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Black_Total_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_Update_All_Set2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BLS_White_Female_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Female_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Female_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Female_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Male_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Male_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Male_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Male_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Total_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Total_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_White_Total_NonHisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_White_Total_NonHisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Other_Female_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Other_Female_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Other_Male_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Other_Male_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Other_Total_Hisp",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Other_Total_Hisp",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete_Rec_FactTbl_All')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WARNING - This pipeline will delete all client table records in the database (Fact Tables and Mapping) based on the parameters for Client Id and Client Engagement Dt. ",
				"activities": [
					{
						"name": "Delete_Rec_FactTbl_Speedbumps",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_All_Rec_FactTbl_Speedbumps",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_Speedbumps",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_ApplicantStatus",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_Applicant",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_ApplicantStatus",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_Client",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_ApplicantStatus",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_Client",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_Client",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_DivSlate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_Core",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_DivSlate",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_DivSlate",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_PerfRatingHist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_PerfRatingHist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_Req",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_PerfRatingHist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_Req",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_SilverMedalist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_Req",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_SilverMedalist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_Talent",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_SilverMedalist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_Talent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_Talent",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Delete Records/Fact Tables"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T14:43:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete_Rec_Mapping_All')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WARNING - This pipeline will delete all client table records in the database (Fact Tables and Mapping) based on the parameters for Client Id and Client Engagement Dt. ",
				"activities": [
					{
						"name": "Delete_Rec_Mapping_Veteran",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Veteran",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_ApplFlow",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Veteran",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_ApplFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_BusHierarchy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_ApplFlow",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_BusHierarchy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_CorpTitle",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_BusHierarchy",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_CorpTitle",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_Disability",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_CorpTitle",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Disability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_Ethnicity",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Disability",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Ethnicity",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_Event",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Ethnicity",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Event",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_Gender",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Event",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Gender",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_LGTBQ",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Gender",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_LGTBQ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_Location",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_LGTBQ",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_PerfRating",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_Location",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_PerfRating",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_ReqStatusMap",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_PerfRating",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_ReqStatusMap",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_ReqType",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_Mapping_ReqStatusMap",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_ReqType",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Delete Records/Mapping"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T14:43:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_All_Mapping_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Output_Mapping_ApplFlow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_ApplFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_BusHierarchy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_BusHierarchy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_CorpTitle",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_CorpTitle",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Disability",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Disability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Ethnicity",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Ethnicity",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Event",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Event",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Gender",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Gender",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_LGTBQ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_LGTBQ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Location",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Performance",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Performance",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_ReqStatus",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_ReqStatus",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_ReqType",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_ReqType",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Veteran",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Veteran",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Mapping Table Files"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_Review_All')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Output_Review_ApplicantId_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_ApplicantId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_BusHierarchy_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_BusHierarchy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Columns_Core",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Columns_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_CorpTitle_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_CorpTitle",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Duplicates_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Duplicates",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Ethnicity_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Ethnicity",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Event_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Event",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Gender_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Gender",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Location_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_ManagerId_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_ManagerId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_NullValues_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_NullValues",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_PerformanceRating_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_PerformanceRating",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_WorkerID_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_WorkerID",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_WorkerIdOverTime_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_WorkerIdOverTime",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Columns_TA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Columns_TA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_ReqApplicantCount",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_ReqApplicantCount",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Audit Reports"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_Processing_Pre_Mapping_Existing')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Move_Templates_Into_ClientFldr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move_Templates_Into_ClientFldr",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Move_Templates_Into_ClientFldr",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_YearRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Req",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Talent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Req",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Talent",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Talent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_All_Mapping_Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Applicant",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_All_Mapping_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Req",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_All_Mapping_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/1_Processing_Pre_Mapping_New')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Move_Templates_Into_ClientFldr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move_Templates_Into_ClientFldr",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Move_Templates_Into_ClientFldr",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_YearRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Req",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Talent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Req",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Talent",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Talent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_ClientInfo",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Req",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_ClientInfo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Client_Engagement_Type": {
									"value": "@pipeline().parameters.P_Client_Engagement_Type",
									"type": "Expression"
								},
								"P_Client_Desc": {
									"value": "@pipeline().parameters.P_Client_Desc",
									"type": "Expression"
								},
								"P_Client_Sector": {
									"value": "@pipeline().parameters.P_Client_Sector",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_All_Mapping_Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Applicant",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_All_Mapping_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_ClientInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Client_Engagement_Type": {
						"type": "string"
					},
					"P_Client_Desc": {
						"type": "string"
					},
					"P_Client_Sector": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_All_Mapping_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/3_Processing_Post_Audit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load all fact tables to the database once audit files have been reviewed and any remediation action taken.",
				"activities": [
					{
						"name": "Append_FactTbl_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Delete_Hist_Core_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_Core_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_OtherCore_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_OtherCore_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_SilverMedal_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_SilverMedal_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_Applicant_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Applicant_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_ApplicantStatus_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_ApplicantStatus_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_DiverseSlate_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_DiverseSlate_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_PerfRatingHist_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_PerfRatingHist_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Requisitions_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Requisitions_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Talent_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Talent_No_All",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_AnalysisTemplatePrep_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_All",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_AnalysisTemplatePrep_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Delete_Hist_Core_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_OtherCore_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_SilverMedal_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Applicant_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_ApplicantStatus_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_DiverseSlate_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_PerfRatingHist_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Requisitions_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Talent_No_All": {
						"type": "string",
						"defaultValue": "No"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T20:31:37Z"
			},
			"dependsOn": []
		}
	]
}