etalentdatatransform/linkedTemplates/ArmTemplate_35.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etalentdatatransform"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DECOM_3_Load_Fact_Tables')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Move_Templates_Into_ClientFldr",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Anonymization_Output_TA",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move_Templates_Into_ClientFldr",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Move_Templates_Into_ClientFldr",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_YearRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Req",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Talent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Req",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Talent",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Talent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Req",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Anonymization_Output_Core",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Anonymization_Output_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Anonymization_Output_Other",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Anonymization_Output_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Anonymization_Output_Other",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Anonymization_Output_TA",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Anonymization_Output_Other",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Anonymization_Output_TA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Decommissioned"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_All_Mapping_Files')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Output_Mapping_ApplFlow",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_ApplFlow",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_BusHierarchy",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_BusHierarchy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_CorpTitle",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_CorpTitle",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Disability",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Disability",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Ethnicity",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Ethnicity",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Event",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Event",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Gender",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Gender",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_LGBTQ",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_LGBTQ",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Location",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Performance",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Performance",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_ReqStatus",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_ReqStatus",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_ReqType",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_ReqType",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Mapping_Veteran",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Mapping_Veteran",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Mapping Table Files"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_Review_All')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Output_Review_ApplicantId_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_ApplicantId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_BusHierarchy_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_BusHierarchy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Columns_Core",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Columns_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_CorpTitle_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_CorpTitle",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Duplicates_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Duplicates",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Ethnicity_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Ethnicity",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Event_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Event",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Gender_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Gender",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Location_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Location",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_ManagerId_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_ManagerId",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_NullValues_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_NullValues",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_PerformanceRating_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_PerformanceRating",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_WorkerID_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_WorkerID",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_WorkerIdOverTime_Qtr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_WorkerIdOverTime",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Columns_TA",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Columns_TA",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_ReqApplicantCount",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_ReqApplicantCount",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Audit Reports"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/7_Output_Mapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Output_All_Mapping_Files",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_All_Mapping_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_All_Mapping_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/8_Processing_Post_Mapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load Working Mapping Files to the database.  Output the Diverse Slate Fact tables, Perf Rating History Fact Table, Silver Medalist Fact Table and Speedbumps.   Output audit reports.",
				"activities": [
					{
						"name": "Append_Mapping_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_ApplStatus",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_All",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_ApplStatus",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_DivSlate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_ApplStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_DivSlate",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_SilverMedalist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_PerfRatingHist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_SilverMedalist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_PerfRatingHist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_DivSlate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_PerfRatingHist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Replace_Curr_With_P1_Y_N": {
									"value": "@pipeline().parameters.P_Replace_Curr_PerfHist_Y_N",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_All",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_SilverMedalist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Replace_Curr_PerfHist_Y_N": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_Review_All')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_Update_All')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BLS_Update_All_Set1",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Update_All_Set1",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "BLS_Update_All_Set2",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Update_All_Set2",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DECOM_1_Processing_Pre_Mapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Move_Templates_Into_ClientFldr",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Move_Templates_Into_ClientFldr",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Move_Templates_Into_ClientFldr",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_YearRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Req",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Talent",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Req",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_Talent",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Talent",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_ClientInfo",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Req",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_ClientInfo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Client_Engagement_Type": {
									"value": "@pipeline().parameters.P_Client_Engagement_Type",
									"type": "Expression"
								},
								"P_Client_Desc": {
									"value": "@pipeline().parameters.P_Client_Desc",
									"type": "Expression"
								},
								"P_Client_Sector": {
									"value": "@pipeline().parameters.P_Client_Sector",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_All_Mapping_Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Applicant",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_All_Mapping_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_ClientInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Anonymization",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_All_Mapping_Files",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Anonymization",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Client_Engagement_Type": {
						"type": "string"
					},
					"P_Client_Desc": {
						"type": "string"
					},
					"P_Client_Sector": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Decommissioned"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_All_Mapping_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DECOM_2_Processing_Post_Mapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load Working Mapping Files to the database.  Output the Diverse Slate Fact tables, Perf Rating History Fact Table, Silver Medalist Fact Table and Speedbumps.   Output audit reports.",
				"activities": [
					{
						"name": "Append_Mapping_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_ApplStatus",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_All",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_ApplStatus",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_DivSlate",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_ApplStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_DivSlate",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_SilverMedalist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_PerfRatingHist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_SilverMedalist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_PerfRatingHist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_DivSlate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_PerfRatingHist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Replace_Curr_With_P1_Y_N": {
									"value": "@pipeline().parameters.P_Replace_Curr_PerfHist_Y_N",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_All",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_SilverMedalist",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Replace_Curr_PerfHist_Y_N": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Decommissioned"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_Review_All')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DECOM_3_Processing_Post_Audit')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load all fact tables to the database once audit files have been reviewed and any remediation action taken.",
				"activities": [
					{
						"name": "Append_FactTbl_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Delete_Hist_Core_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_Core_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_OtherCore_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_OtherCore_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_SilverMedal_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_SilverMedal_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_Applicant_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Applicant_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_ApplicantStatus_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_ApplicantStatus_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_DiverseSlate_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_DiverseSlate_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_PerfRatingHist_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_PerfRatingHist_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Requisitions_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Requisitions_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Talent_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Talent_No_All",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_AnalysisTemplatePrep_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_All",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_AnalysisTemplatePrep_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Delete_Hist_Core_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_OtherCore_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_SilverMedal_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Applicant_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_ApplicantStatus_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_DiverseSlate_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_PerfRatingHist_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Requisitions_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Talent_No_All": {
						"type": "string",
						"defaultValue": "No"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Decommissioned"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T20:31:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DECOM_5_Output_Mapping')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Output_FactTbl_File_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_YearRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_ClientInfo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_ClientInfo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Client_Engagement_Type": {
									"value": "@pipeline().parameters.P_Client_Engagement_Type",
									"type": "Expression"
								},
								"P_Client_Desc": {
									"value": "@pipeline().parameters.P_Client_Desc",
									"type": "Expression"
								},
								"P_Client_Sector": {
									"value": "@pipeline().parameters.P_Client_Sector",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_All_Mapping_Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Applicant",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_All_Mapping_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_ClientInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Anonymization",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_All_Mapping_Files",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Anonymization",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Client_Engagement_Type": {
						"type": "string"
					},
					"P_Client_Desc": {
						"type": "string"
					},
					"P_Client_Sector": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Decommissioned"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_All_Mapping_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DECOM_5_Output_Mapping_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Copy templates from processing to designated year/qrt folders.  Run fact tables for Core, Talent, Req, OtherCore, Applicant and ",
				"activities": [
					{
						"name": "Output_FactTbl_File_Applicant",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_OtherCore",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_Applicant",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_File_OtherCore",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_YearRef",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_File_OtherCore",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_ClientInfo",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_ClientInfo",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Client_Engagement_Type": {
									"value": "@pipeline().parameters.P_Client_Engagement_Type",
									"type": "Expression"
								},
								"P_Client_Desc": {
									"value": "@pipeline().parameters.P_Client_Desc",
									"type": "Expression"
								},
								"P_Client_Sector": {
									"value": "@pipeline().parameters.P_Client_Sector",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_All_Mapping_Files",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_FactTbl_File_Applicant",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_All_Mapping_Files",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_FactTbl_YearRef",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_ClientInfo",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_FactTbl_YearRef",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Output_Review_Anonymization",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Output_All_Mapping_Files",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Output_Review_Anonymization",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Client_Engagement_Type": {
						"type": "string"
					},
					"P_Client_Desc": {
						"type": "string"
					},
					"P_Client_Sector": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines/Decommissioned"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T15:58:24Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Output_All_Mapping_Files')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Processing_8_thru_10')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load all fact tables to the database once audit files have been reviewed and any remediation action taken.",
				"activities": [
					{
						"name": "8_Processing_Post_Mapping",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "8_Processing_Post_Mapping",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Replace_Curr_PerfHist_Y_N": {
									"value": "@pipeline().parameters.P_Replace_Curr_PerfHist_Y_N",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "9_Processing_Post_Audit",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "8_Processing_Post_Mapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "9_Processing_Post_Audit",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Delete_Hist_Core_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_Core_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_OtherCore_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_OtherCore_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_SilverMedal_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_SilverMedal_No_All_Qtr",
									"type": "Expression"
								},
								"P_Delete_Hist_Applicant_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Applicant_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_ApplicantStatus_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_ApplicantStatus_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_DiverseSlate_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_DiverseSlate_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_PerfRatingHist_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_PerfRatingHist_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Requisitions_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Requisitions_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Talent_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Talent_No_All",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "10_Load_Manager_Hrchy",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "9_Processing_Post_Audit",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "10_Load_Manager_Hrchy",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Delete_Hist_Core_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_OtherCore_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_SilverMedal_No_All_Qtr": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Applicant_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_ApplicantStatus_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_DiverseSlate_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_PerfRatingHist_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Requisitions_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Delete_Hist_Talent_No_All": {
						"type": "string",
						"defaultValue": "No"
					},
					"P_Replace_Curr_PerfHist_Y_N": {
						"type": "string",
						"defaultValue": "N"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T20:31:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/8_Processing_Post_Mapping')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/00_Processing_Steps_2B_thru_7')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Load the Year Reference Data (Based on Core file) and Core Fact Table Output file to the database.",
				"activities": [
					{
						"name": "Append_FactTbl_Core",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Delete_History_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_Core_No_All_Qtr",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "2B_Post_Anonymization_Review",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "2B_Post_Anonymization_Review",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "3_Fact_Table_Prep",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "2B_Post_Anonymization_Review",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "3_Fact_Table_Prep",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Qtr_Start_Mnth": {
									"value": "@pipeline().parameters.P_Qtr_Start_Mnth",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "4_Processing_Load_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "3_Fact_Table_Prep",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "4_Processing_Load_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Client_Engagement_Type": {
									"value": "@pipeline().parameters.P_Client_Engagement_Type",
									"type": "Expression"
								},
								"P_Client_Desc": {
									"value": "@pipeline().parameters.P_Client_Desc",
									"type": "Expression"
								},
								"P_Client_Sector": {
									"value": "@pipeline().parameters.P_Client_Sector",
									"type": "Expression"
								},
								"P_Delete_Hist_Core_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_Core_No_All_Qtr",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "5_Processing_Load_Applicant_Req",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "4_Processing_Load_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "5_Processing_Load_Applicant_Req",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Delete_Hist_Applicant_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Applicant_No_All",
									"type": "Expression"
								},
								"P_Delete_Hist_Requisitions_No_All": {
									"value": "@pipeline().parameters.P_Delete_Hist_Requisitions_No_All",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "6_Processing_Load_Other_Core",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "5_Processing_Load_Applicant_Req",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "6_Processing_Load_Other_Core",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								},
								"P_Delete_Hist_OtherCore_No_All_Qtr": {
									"value": "@pipeline().parameters.P_Delete_Hist_OtherCore_No_All_Qtr",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "7_Output_Mapping",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "6_Processing_Load_Other_Core",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "7_Output_Mapping",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Folder_Year": {
									"value": "@pipeline().parameters.P_Folder_Year",
									"type": "Expression"
								},
								"P_Folder_Quarter": {
									"value": "@pipeline().parameters.P_Folder_Quarter",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Client_Engagement_Type": {
						"type": "string"
					},
					"P_Client_Desc": {
						"type": "string"
					},
					"P_Client_Sector": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					},
					"P_Delete_Hist_Applicant_No_All": {
						"type": "string"
					},
					"P_Delete_Hist_Requisitions_No_All": {
						"type": "string"
					},
					"P_Delete_Hist_Core_No_All_Qtr": {
						"type": "string"
					},
					"P_Delete_Hist_OtherCore_No_All_Qtr": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T20:31:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/7_Output_Mapping')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RunFilesAndLoad_BLSTbl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "BLS_Update_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "BLS_Update_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "Load_BLSTbl",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "BLS_Update_All",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Load_BLSTbl",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:07Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/BLS_Update_All')]"
			]
		}
	]
}