etalentdatatransform/linkedTemplates/ArmTemplate_29.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etalentdatatransform"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/BLS_White_Male')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_BLS_Site",
								"type": "DatasetReference",
								"parameters": {
									"SeriesId": "https://api.bls.gov/publicAPI/v2/timeseries/data/LNU01000004Q"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json_BLS_White_Male",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BLS_White_Male",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BLS_White_Male",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BLSJsonSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "BLS_White_Male",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json_BLS_White_Male",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_White_Male_Hisp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_BLS_Site",
								"type": "DatasetReference",
								"parameters": {
									"SeriesId": "https://api.bls.gov/publicAPI/v2/timeseries/data/LNU01092758"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json_BLS_White_Male_Hisp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BLS_White_Male_Hisp",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BLS_White_Male_Hisp",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BLSJsonSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "BLS_White_Male_Hisp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json_BLS_White_Male_Hisp",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_White_Male_NonHisp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_BLS_Site",
								"type": "DatasetReference",
								"parameters": {
									"SeriesId": "https://api.bls.gov/publicAPI/v2/timeseries/data/LNU01092173Q"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json_BLS_White_Male_NonHisp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BLS_White_Male_NonHisp",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BLS_White_Male_NonHisp",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BLSJsonSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "BLS_White_Male_NonHisp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json_BLS_White_Male_NonHisp",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_White_Total')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_BLS_Site",
								"type": "DatasetReference",
								"parameters": {
									"SeriesId": "https://api.bls.gov/publicAPI/v2/timeseries/data/LNU01000003Q"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json_BLS_White_Total",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BLS_White_Total",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BLS_White_Total",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BLSJsonSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "BLS_White_Total",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json_BLS_White_Total",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_White_Total_Hisp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_BLS_Site",
								"type": "DatasetReference",
								"parameters": {
									"SeriesId": "https://api.bls.gov/publicAPI/v2/timeseries/data/LNU01092757"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json_BLS_White_Total_Hisp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BLS_White_Total_Hisp",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BLS_White_Total_Hisp",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BLSJsonSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "BLS_White_Total_Hisp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json_BLS_White_Total_Hisp",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/BLS_White_Total_NonHisp')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_BLS_Site",
								"type": "DatasetReference",
								"parameters": {
									"SeriesId": "https://api.bls.gov/publicAPI/v2/timeseries/data/LNU01092172Q"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Json_BLS_White_Total_NonHisp",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "BLS_White_Total_NonHisp",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "BLS_White_Total_NonHisp",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"BLSJsonSource": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Delete1",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "BLS_White_Total_NonHisp",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "Json_BLS_White_Total_NonHisp",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delete_All_Client_Records')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "WARNING - This pipeline will delete all client table records in the database (Fact Tables and Mapping) based on the parameters for Client Id and Client Engagement Dt. ",
				"activities": [
					{
						"name": "Delete_Rec_FactTbl_All",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_FactTbl_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Delete_Rec_Mapping_All",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Delete_Rec_FactTbl_All",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Delete_Rec_Mapping_All",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Delete Records"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T14:43:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/InitialJobMapLoad_TRASH')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_Job_Review",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Mapping_Job",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"JobFunctionMappingFile": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"CorpTitleMappingTable": {},
									"CoreDB": {},
									"BusHierarchyMapping": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_BLSTbl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FullLoad_BLSTbl",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FullLoad_BLSTbl",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"AmerIndAlaskNatFemale": {},
									"AmerIndAlaskNatMale": {},
									"AmerIndAlaskNatTotal": {},
									"AsianFemale": {},
									"AsianMale": {},
									"AsianTotal": {},
									"BlackFemale": {},
									"BlackMale": {},
									"BlackTotal": {},
									"Female": {},
									"LatinxFemale": {},
									"LatinxMale": {},
									"LatinxTotal": {},
									"Male": {},
									"NatHawPacIslFemale": {},
									"NatHawPacIslMale": {},
									"NatHawPacIslTotal": {},
									"Total": {},
									"TwoOrMoreFemale": {},
									"TwoOrMoreMale": {},
									"TwoOrMoreTotal": {},
									"WhiteFemale": {},
									"WhiteMale": {},
									"WhiteTotal": {},
									"AsianFemaleHisp": {},
									"AsianFemaleNonHisp": {},
									"AsianMaleHisp": {},
									"AsianMaleNonHisp": {},
									"AsianTotalHisp": {},
									"AsianTotalNonHisp": {},
									"BlackFemaleHisp": {},
									"BlackFemaleNonHisp": {},
									"BlackMaleHisp": {},
									"BlackMaleNonHisp": {},
									"BlackTotalHisp": {},
									"BlackTotalNonHisp": {},
									"OtherFemaleHisp": {},
									"OtherMaleHisp": {},
									"OtherTotalHisp": {},
									"WhiteFemaleHisp": {},
									"WhiteFemaleNonHisp": {},
									"WhiteMaleHisp": {},
									"WhiteMaleNonHisp": {},
									"WhiteTotalHisp": {},
									"WhiteTotalNonHisp": {},
									"FullLoadBLSTable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "External Data/BLS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-14T00:01:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Load_USCensusSummaryTbl')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Tbl_USCensusSummary",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DeleteAllHistory",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Append_Tbl_USCensusSummary",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"USCensusSource": {},
									"LoadUSCensusSummaryTable": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DeleteAllHistory",
						"type": "IfCondition",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@contains(pipeline().parameters.P_Delete_History_No_All, 'All')",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Delete_All_CensusSummaryTbl",
									"type": "ExecuteDataFlow",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataflow": {
											"referenceName": "Delete_All_CensusSummaryTbl",
											"type": "DataFlowReference",
											"parameters": {},
											"datasetParameters": {
												"USCensusSummary": {},
												"DeleteRecords": {}
											}
										},
										"staging": {},
										"compute": {
											"coreCount": 8,
											"computeType": "General"
										},
										"traceLevel": "Fine"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Delete_History_No_All": {
						"type": "string"
					}
				},
				"folder": {
					"name": "External Data/US Census"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_Adhc_Evergreen_OtherCore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Merge all core events into one file.",
				"activities": [
					{
						"name": "DF_Adhoc_OtherFact_Evergreen",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_Adhoc_OtherFact_Evergreen",
								"type": "DataFlowReference",
								"parameters": {
									"SB_BL_Year": {
										"value": "'@{pipeline().parameters.P_Folder_Year}'",
										"type": "Expression"
									},
									"SB_BL_Quarter": {
										"value": "'@{pipeline().parameters.P_Folder_Quarter}'",
										"type": "Expression"
									},
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"PerfRatingHistory": {},
									"CoreYear": {},
									"LevelMapForEmp": {},
									"Talent": {},
									"OtherCore": {},
									"CoreForSupplement": {},
									"EthnicityMap": {},
									"GenderMap": {},
									"OutPutFactTable": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Client Adhoc"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T23:59:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_AnalysisTbl_File_OtherCoreCurr')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Adhoc_OtherAnaylysis_Curr",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_OtherAnaylysis_Curr_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Folder_Year": {
										"value": "'@{pipeline().parameters.P_Folder_Year}'",
										"type": "Expression"
									},
									"Flow_Folder_Quarter": {
										"value": "'@{pipeline().parameters.P_Folder_Quarter}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"AllOtherCore": {},
									"AllOtherTblAnalysis": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OtherCoreWorkers": {},
									"OtherCoreYear": {},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"variables": {
					"tempCounter": {
						"type": "String"
					},
					"Counter": {
						"type": "String"
					},
					"T1_Type": {
						"type": "String"
					},
					"T1_Year": {
						"type": "String"
					},
					"T1_Quarter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Create Analysis Table Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_AnalysisTbl_File_OtherCoreP1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Adhoc_OtherAnaylysis_P1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_OtherAnaylysis_P1_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Folder_Year": {
										"value": "'@{pipeline().parameters.P_Folder_Year}'",
										"type": "Expression"
									},
									"Flow_Folder_Quarter": {
										"value": "'@{pipeline().parameters.P_Folder_Quarter}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"AllOtherCore": {},
									"AllOtherTblAnalysis": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OtherCoreWorkers": {},
									"OtherCoreYear": {},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"variables": {
					"tempCounter": {
						"type": "String"
					},
					"Counter": {
						"type": "String"
					},
					"T1_Type": {
						"type": "String"
					},
					"T1_Year": {
						"type": "String"
					},
					"T1_Quarter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Create Analysis Table Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_AnalysisTbl_File_OtherCoreP2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Adhoc_OtherAnaylysis_P2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_OtherAnaylysis_P2_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Folder_Year": {
										"value": "'@{pipeline().parameters.P_Folder_Year}'",
										"type": "Expression"
									},
									"Flow_Folder_Quarter": {
										"value": "'@{pipeline().parameters.P_Folder_Quarter}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"AllOtherCore": {},
									"AllOtherTblAnalysis": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OtherCoreWorkers": {},
									"OtherCoreYear": {},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"variables": {
					"tempCounter": {
						"type": "String"
					},
					"Counter": {
						"type": "String"
					},
					"T1_Type": {
						"type": "String"
					},
					"T1_Year": {
						"type": "String"
					},
					"T1_Quarter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Create Analysis Table Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_AnalysisTbl_File_OtherCoreP3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_Adhoc_OtherAnaylysis_P3",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_OtherAnaylysis_P3_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Folder_Year": {
										"value": "'@{pipeline().parameters.P_Folder_Year}'",
										"type": "Expression"
									},
									"Flow_Folder_Quarter": {
										"value": "'@{pipeline().parameters.P_Folder_Quarter}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"AllOtherCore": {},
									"AllOtherTblAnalysis": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OtherCoreWorkers": {},
									"OtherCoreYear": {},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"variables": {
					"tempCounter": {
						"type": "String"
					},
					"Counter": {
						"type": "String"
					},
					"T1_Type": {
						"type": "String"
					},
					"T1_Year": {
						"type": "String"
					},
					"T1_Quarter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Create Analysis Table Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_AnalysisTemplatePrep_OtherCore')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_TemplateTbl_PrepOtherAnalysis_File",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_TemplateTbl_PrepOtherAnalysis_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Folder_Year": {
										"value": "'@{pipeline().parameters.P_Folder_Year}'",
										"type": "Expression"
									},
									"Flow_Folder_Quarter": {
										"value": "'@{pipeline().parameters.P_Folder_Quarter}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"OtherCoreTable": {},
									"EventYearCurr": {},
									"EventYearP1": {},
									"EventYearP2": {},
									"EventYearP3": {},
									"OutputCurrTemplatePrep": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OutputP1TemplatePrep": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OutputP2TemplatePrep": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"OutputP3TemplatePrep": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"variables": {
					"tempCounter": {
						"type": "String"
					},
					"Counter": {
						"type": "String"
					},
					"T1_Type": {
						"type": "String"
					},
					"T1_Year": {
						"type": "String"
					},
					"T1_Quarter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Create Analysis Table Files"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_FactTbl_File_ApplStatus')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_FactTbl_ApplStatus",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_ApplStatus",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Applicant": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"EthnicityMap": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"GenderMap": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantMap": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Fact Table Files"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T23:59:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_FactTbl_File_Applicant')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_FactTbl_Applicant_File_Append_2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (2)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append_3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append_2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (3)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append_4",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append_3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (4)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append_5",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append_4",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (5)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append_6",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append_5",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (6)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append_7",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append_6",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (7)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@activity('DF_FactTbl_Applicant_File').output",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append8",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append_7",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (8)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append9",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append8",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (9)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append10",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append9",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (10)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append11",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append10",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (11)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append12",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append11",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (12)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append13",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append12",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (13)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append14",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append13",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (14)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append15",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append14",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (15)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append16",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append15",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (16)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append17",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append16",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (17)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append18",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append17",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (18)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append19",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append18",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (19)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File_Append20",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "DF_FactTbl_Applicant_File_Append19",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File_Append",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantAppendFile": {
										"AppendFileName": "Elloree Data Submission Template - TA.xlsx",
										"WorkSheetName": "DATA_JobApplicants (20)",
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Reqisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "DF_FactTbl_Applicant_File",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Applicant_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Applicants": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Requisitions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					}
				},
				"variables": {
					"FailureSheet": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Create Fact Table Files"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T23:59:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_FactTbl_File_Core')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Merge all core events into one file.",
				"activities": [
					{
						"name": "DF_FactTbl_Core_File_Quarterly",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_Core_File",
								"type": "DataFlowReference",
								"parameters": {
									"Flow_Client_Id": {
										"value": "'@{pipeline().parameters.P_Client_Id}'",
										"type": "Expression"
									},
									"Flow_Client_Dt": {
										"value": "'@{pipeline().parameters.P_Client_Dt}'",
										"type": "Expression"
									},
									"Flow_Qtr1_Start": {
										"value": "'@{pipeline().parameters.P_Qtr_Start_Mnth}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"Headcount": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Terminations": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Hires": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"Promotions": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink1": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					},
					"P_Qtr_Start_Mnth": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Fact Table Files"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T23:59:37Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Output_FactTbl_File_DivSlate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "DF_FactTbl_DivSlate_File",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_FactTbl_DivSlate_File",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Applicant": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"EthnicityMap": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"GenderMap": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"ApplicantMap": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									},
									"sink2": {
										"Source_Client_Fldr": {
											"value": "@pipeline().parameters.P_Client_Id",
											"type": "Expression"
										},
										"Source_Client_Date": {
											"value": "@pipeline().parameters.P_Client_Dt",
											"type": "Expression"
										},
										"Source_Client_Year": {
											"value": "@pipeline().parameters.P_Folder_Year",
											"type": "Expression"
										},
										"Source_Client_Quarter": {
											"value": "@concat('Q',pipeline().parameters.P_Folder_Quarter)",
											"type": "Expression"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Folder_Year": {
						"type": "string"
					},
					"P_Folder_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Create Fact Table Files"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T23:59:37Z"
			},
			"dependsOn": []
		}
	]
}