etalentdatatransform/linkedTemplates/ArmTemplate_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "etalentdatatransform"
		},
		"AzureBatch_Python_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://batchacct1.centralus.batch.azure.com"
		},
		"AzureBatch_Python_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "python-pool-1"
		},
		"AzureBatch_Python_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "batchacct1"
		},
		"AzureBatch_etalent1storage_properties_typeProperties_batchUri": {
			"type": "string",
			"defaultValue": "https://batchacct1.centralus.batch.azure.com"
		},
		"AzureBatch_etalent1storage_properties_typeProperties_poolName": {
			"type": "string",
			"defaultValue": "ubuntu01"
		},
		"AzureBatch_etalent1storage_properties_typeProperties_accountName": {
			"type": "string",
			"defaultValue": "batchacct1"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_Hires')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Connection to template to pull hires tab.",
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_Hire",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - Core.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Event Type",
						"type": "String"
					},
					{
						"name": "Worker ID",
						"type": "String"
					},
					{
						"name": "Worker Type",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Job Function",
						"type": "String"
					},
					{
						"name": "Corporate Title",
						"type": "String"
					},
					{
						"name": "Manager Indicator",
						"type": "String"
					},
					{
						"name": "Direct Manager Worker ID",
						"type": "String"
					},
					{
						"name": "Legacy Organization",
						"type": "String"
					},
					{
						"name": "Work Office Location",
						"type": "String"
					},
					{
						"name": "Work City",
						"type": "String"
					},
					{
						"name": "Work State",
						"type": "String"
					},
					{
						"name": "Work Country",
						"type": "String"
					},
					{
						"name": "Strategic Work Location Ind",
						"type": "String"
					},
					{
						"name": "Original Hire Date",
						"type": "String"
					},
					{
						"name": "Current Hire Date",
						"type": "String"
					},
					{
						"name": "Business Group Level 1",
						"type": "String"
					},
					{
						"name": "Business Group Level 2",
						"type": "String"
					},
					{
						"name": "Business Group Level 3",
						"type": "String"
					},
					{
						"name": "Business Group Level 4",
						"type": "String"
					},
					{
						"name": "Race",
						"type": "String"
					},
					{
						"name": "Hispanic or Latino Origin",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Veteran Ind",
						"type": "String"
					},
					{
						"name": "LGBTQ",
						"type": "String"
					},
					{
						"name": "Disability Ind",
						"type": "String"
					},
					{
						"name": "Birth Year",
						"type": "String"
					},
					{
						"name": "Generation Desc",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_JobApplicants')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_JobApplicants",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - TA.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Requisition ID",
						"type": "String"
					},
					{
						"name": "Application Date",
						"type": "String"
					},
					{
						"name": "Applicant ID",
						"type": "String"
					},
					{
						"name": "Source",
						"type": "String"
					},
					{
						"name": "Applicant Type",
						"type": "String"
					},
					{
						"name": "Internal Worker ID",
						"type": "String"
					},
					{
						"name": "Applicant City",
						"type": "String"
					},
					{
						"name": "Applicant State",
						"type": "String"
					},
					{
						"name": "Applicant Country",
						"type": "String"
					},
					{
						"name": "Race",
						"type": "String"
					},
					{
						"name": "Hispanic or Latino Origin",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Veteran Ind",
						"type": "String"
					},
					{
						"name": "LGBTQ",
						"type": "String"
					},
					{
						"name": "Disability Ind",
						"type": "String"
					},
					{
						"name": "Applicant Final Disposition Date",
						"type": "String"
					},
					{
						"name": "Applicant Final Disposition",
						"type": "String"
					},
					{
						"name": "Applicant Step Before Final Disposition",
						"type": "String"
					},
					{
						"name": "Applicant Rejected Reason",
						"type": "String"
					},
					{
						"name": "Applicant Other (1)",
						"type": "String"
					},
					{
						"name": "Applicant Other (2)",
						"type": "String"
					},
					{
						"name": "Applicant Other (3)",
						"type": "String"
					},
					{
						"name": "Applicant Other (4)",
						"type": "String"
					},
					{
						"name": "Applicant Other (5)",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_JobReq_Append')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"AppendFileName": {
						"type": "string",
						"defaultValue": "Elloree Data Submission Template - TA.xlsx"
					},
					"WorkSheetName": {
						"type": "string",
						"defaultValue": "DATA_JobRequisition"
					},
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().WorkSheetName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().AppendFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Quarter",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Requisition ID",
						"type": "String"
					},
					{
						"name": "Requisition Type",
						"type": "String"
					},
					{
						"name": "Posting Date",
						"type": "String"
					},
					{
						"name": "Requisition Status",
						"type": "String"
					},
					{
						"name": "Number of Openings",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Job Function",
						"type": "String"
					},
					{
						"name": "Corporate Title",
						"type": "String"
					},
					{
						"name": "Work Office Location",
						"type": "String"
					},
					{
						"name": "Work Office City",
						"type": "String"
					},
					{
						"name": "Work Office State",
						"type": "String"
					},
					{
						"name": "Work Office Country",
						"type": "String"
					},
					{
						"name": "Strategic Work Location Ind",
						"type": "String"
					},
					{
						"name": "Business Group Level 1",
						"type": "String"
					},
					{
						"name": "Business Group Level 2",
						"type": "String"
					},
					{
						"name": "Business Group Level 3",
						"type": "String"
					},
					{
						"name": "Business Group Level 4",
						"type": "String"
					},
					{
						"name": "Hiring Manager Worker ID",
						"type": "String"
					},
					{
						"name": "Primary Recruiter Worker ID",
						"type": "String"
					},
					{
						"name": "Requisition Other (1)",
						"type": "String"
					},
					{
						"name": "Requisition Other (2)",
						"type": "String"
					},
					{
						"name": "Requisition Other (3)",
						"type": "String"
					},
					{
						"name": "Requisition Other (4)",
						"type": "String"
					},
					{
						"name": "Requisition Other (5)",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_OtherCore')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_WorkerOther",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - Other.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Worker ID",
						"type": "String"
					},
					{
						"name": "Event (Type)",
						"type": "String"
					},
					{
						"name": "Event (Desc)",
						"type": "String"
					},
					{
						"name": "Other (Char Value 1)",
						"type": "String"
					},
					{
						"name": "Other (Char Value 2)",
						"type": "String"
					},
					{
						"name": "Other (Num Value 1)",
						"type": "String"
					},
					{
						"name": "Other (Num Value 2)",
						"type": "String"
					},
					{
						"name": "Other (Date Value 1)",
						"type": "String"
					},
					{
						"name": "Other (Date Value 2)",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_OtherCore_Append')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"AppendFileName": {
						"type": "string",
						"defaultValue": "Elloree Data Submission Template (Other).xlsx"
					},
					"WorkSheetName": {
						"type": "string",
						"defaultValue": "DATA_WorkerOther (2)"
					},
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().WorkSheetName",
						"type": "Expression"
					},
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().AppendFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Worker ID",
						"type": "String"
					},
					{
						"name": "Event (Type)",
						"type": "String"
					},
					{
						"name": "Event (Desc)",
						"type": "String"
					},
					{
						"name": "Other (Char Value 1)",
						"type": "String"
					},
					{
						"name": "Other (Char Value 2)",
						"type": "String"
					},
					{
						"name": "Other (Num Value 1)",
						"type": "String"
					},
					{
						"name": "Other (Num Value 2)",
						"type": "String"
					},
					{
						"name": "Other (Date Value 1)",
						"type": "String"
					},
					{
						"name": "Other (Date Value 2)",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_Promotions')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_Promotion",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - Core.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Event Type",
						"type": "String"
					},
					{
						"name": "Worker ID",
						"type": "String"
					},
					{
						"name": "Worker Type",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Job Function",
						"type": "String"
					},
					{
						"name": "Corporate Title",
						"type": "String"
					},
					{
						"name": "Previous Job Title",
						"type": "String"
					},
					{
						"name": "Previous Job Function",
						"type": "String"
					},
					{
						"name": "Previous Corporate Title",
						"type": "String"
					},
					{
						"name": "Manager Indicator",
						"type": "String"
					},
					{
						"name": "Direct Manager Worker ID",
						"type": "String"
					},
					{
						"name": "Work Office Location",
						"type": "String"
					},
					{
						"name": "Work City",
						"type": "String"
					},
					{
						"name": "Work State",
						"type": "String"
					},
					{
						"name": "Work Country",
						"type": "String"
					},
					{
						"name": "Strategic Work Location Ind",
						"type": "String"
					},
					{
						"name": "Original Hire Date",
						"type": "String"
					},
					{
						"name": "Current Hire Date",
						"type": "String"
					},
					{
						"name": "Years of Service",
						"type": "String"
					},
					{
						"name": "Years in Job",
						"type": "String"
					},
					{
						"name": "Business Group Level 1",
						"type": "String"
					},
					{
						"name": "Business Group Level 2",
						"type": "String"
					},
					{
						"name": "Business Group Level 3",
						"type": "String"
					},
					{
						"name": "Business Group Level 4",
						"type": "String"
					},
					{
						"name": "Race",
						"type": "String"
					},
					{
						"name": "Hispanic or Latino Origin",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Veteran Ind",
						"type": "String"
					},
					{
						"name": "LGBTQ",
						"type": "String"
					},
					{
						"name": "Disability Ind",
						"type": "String"
					},
					{
						"name": "Birth Year",
						"type": "String"
					},
					{
						"name": "Generation Desc",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_Req')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_JobRequisition",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - TA.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Requisition ID",
						"type": "String"
					},
					{
						"name": "Requisition Type",
						"type": "String"
					},
					{
						"name": "Posting Date",
						"type": "String"
					},
					{
						"name": "Requisition Status",
						"type": "String"
					},
					{
						"name": "Number of Openings",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Job Function",
						"type": "String"
					},
					{
						"name": "Corporate Title",
						"type": "String"
					},
					{
						"name": "Work Office Location",
						"type": "String"
					},
					{
						"name": "Work Office City",
						"type": "String"
					},
					{
						"name": "Work Office State",
						"type": "String"
					},
					{
						"name": "Work Office Country",
						"type": "String"
					},
					{
						"name": "Strategic Work Location Ind",
						"type": "String"
					},
					{
						"name": "Business Group Level 1",
						"type": "String"
					},
					{
						"name": "Business Group Level 2",
						"type": "String"
					},
					{
						"name": "Business Group Level 3",
						"type": "String"
					},
					{
						"name": "Business Group Level 4",
						"type": "String"
					},
					{
						"name": "Hiring Manager Worker ID",
						"type": "String"
					},
					{
						"name": "Primary Recruiter Worker ID",
						"type": "String"
					},
					{
						"name": "Requisition Other (1)",
						"type": "String"
					},
					{
						"name": "Requisition Other (2)",
						"type": "String"
					},
					{
						"name": "Requisition Other (3)",
						"type": "String"
					},
					{
						"name": "Requisition Other (4)",
						"type": "String"
					},
					{
						"name": "Requisition Other (5)",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_TalentAssessment')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_TalentAssessment",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - Core.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Event Type",
						"type": "String"
					},
					{
						"name": "Worker ID",
						"type": "String"
					},
					{
						"name": "Performance Rating",
						"type": "String"
					},
					{
						"name": "Performance Rating Date",
						"type": "String"
					},
					{
						"name": "Top Performer",
						"type": "String"
					},
					{
						"name": "Talent Identifier (1)",
						"type": "String"
					},
					{
						"name": "Talent Identifier (2)",
						"type": "String"
					},
					{
						"name": "Talent Identifier (3)",
						"type": "String"
					},
					{
						"name": "Talent Identifier (4)",
						"type": "String"
					},
					{
						"name": "Talent Identifier (5)",
						"type": "String"
					},
					{
						"name": "Salary Range",
						"type": "String"
					},
					{
						"name": "Bonus",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_Terminations')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Source_Client_Fldr": {
						"type": "string"
					},
					"Source_Client_Date": {
						"type": "string"
					},
					"Source_Client_Year": {
						"type": "string"
					},
					"Source_Client_Quarter": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Template"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "DATA_Term",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Elloree Data Submission Template - Core.xlsx",
						"folderPath": {
							"value": "@concat(concat(dataset().Source_Client_Fldr,'/'),concat(replace(dataset().Source_Client_Date,'/','-'),'/',concat('Templates/',concat(dataset().Source_Client_Year),trim(dataset().Source_Client_Quarter))))",
							"type": "Expression"
						},
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "DO NOT USE THIS COLUMN.  DO NOT ALTER HEADER NAMES ON THIS ROW==>",
						"type": "String"
					},
					{
						"name": "Event Year",
						"type": "String"
					},
					{
						"name": "Event Date",
						"type": "String"
					},
					{
						"name": "Event Type",
						"type": "String"
					},
					{
						"name": "Event Reason",
						"type": "String"
					},
					{
						"name": "Worker ID",
						"type": "String"
					},
					{
						"name": "Worker Type",
						"type": "String"
					},
					{
						"name": "Job Title",
						"type": "String"
					},
					{
						"name": "Job Function",
						"type": "String"
					},
					{
						"name": "Years in Job",
						"type": "String"
					},
					{
						"name": "Corporate Title",
						"type": "String"
					},
					{
						"name": "Manager Indicator",
						"type": "String"
					},
					{
						"name": "Direct Manager Worker ID",
						"type": "String"
					},
					{
						"name": "Work Office Location",
						"type": "String"
					},
					{
						"name": "Work City",
						"type": "String"
					},
					{
						"name": "Work State",
						"type": "String"
					},
					{
						"name": "Work Country",
						"type": "String"
					},
					{
						"name": "Strategic Work Location Ind",
						"type": "String"
					},
					{
						"name": "Original Hire Date",
						"type": "String"
					},
					{
						"name": "Current Hire Date",
						"type": "String"
					},
					{
						"name": "Years of Service",
						"type": "String"
					},
					{
						"name": "Last Promo Date",
						"type": "String"
					},
					{
						"name": "Business Group Level 1",
						"type": "String"
					},
					{
						"name": "Business Group Level 2",
						"type": "String"
					},
					{
						"name": "Business Group Level 3",
						"type": "String"
					},
					{
						"name": "Business Group Level 4",
						"type": "String"
					},
					{
						"name": "Race",
						"type": "String"
					},
					{
						"name": "Hispanic or Latino Origin",
						"type": "String"
					},
					{
						"name": "Gender",
						"type": "String"
					},
					{
						"name": "Veteran Ind",
						"type": "String"
					},
					{
						"name": "LGBTQ",
						"type": "String"
					},
					{
						"name": "Disability Ind",
						"type": "String"
					},
					{
						"name": "Birth Year",
						"type": "String"
					},
					{
						"name": "Generation Desc",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_Template_US_Census')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlob_Etalent1Storage",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "External Data/US Census"
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": "Places",
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "US Census Summary Template.xlsx",
						"folderPath": "External Data/US Census",
						"container": "processing"
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "Census_Year",
						"type": "String"
					},
					{
						"name": "Census_City",
						"type": "String"
					},
					{
						"name": "Census_State",
						"type": "String"
					},
					{
						"name": "Census_Country",
						"type": "String"
					},
					{
						"name": "Census_MSA",
						"type": "String"
					},
					{
						"name": "Census_Region",
						"type": "String"
					},
					{
						"name": "Census_Total",
						"type": "String"
					},
					{
						"name": "Census_Male",
						"type": "String"
					},
					{
						"name": "Census_Female",
						"type": "String"
					},
					{
						"name": "Census_White",
						"type": "String"
					},
					{
						"name": "Census_Black",
						"type": "String"
					},
					{
						"name": "Census_Hispanic",
						"type": "String"
					},
					{
						"name": "Census_Asian",
						"type": "String"
					},
					{
						"name": "Census_OtherRace",
						"type": "String"
					},
					{
						"name": "Census_PoC",
						"type": "String"
					},
					{
						"name": "Census_TwoPlusRaces",
						"type": "String"
					},
					{
						"name": "Census_AmerIndAlaskaNat",
						"type": "String"
					},
					{
						"name": "Census_NatHawaiianOtherPacIsl",
						"type": "String"
					},
					{
						"name": "Census_SomeOtherRace",
						"type": "String"
					},
					{
						"name": "MSA_Total",
						"type": "String"
					},
					{
						"name": "MSA_Male",
						"type": "String"
					},
					{
						"name": "MSA_Female",
						"type": "String"
					},
					{
						"name": "MSA_White",
						"type": "String"
					},
					{
						"name": "MSA_Black",
						"type": "String"
					},
					{
						"name": "MSA_Hispanic",
						"type": "String"
					},
					{
						"name": "MSA_Asian",
						"type": "String"
					},
					{
						"name": "MSA_OtherRace",
						"type": "String"
					},
					{
						"name": "MSA_PoC",
						"type": "String"
					},
					{
						"name": "MSA_TwoPlusRaces",
						"type": "String"
					},
					{
						"name": "MSA_AmerIndAlaskaNat",
						"type": "String"
					},
					{
						"name": "MSA_NatHawaiianOtherPacIsl",
						"type": "String"
					},
					{
						"name": "MSA_SomeOtherRace",
						"type": "String"
					},
					{
						"name": "State_Total",
						"type": "String"
					},
					{
						"name": "State_Male",
						"type": "String"
					},
					{
						"name": "State_Female",
						"type": "String"
					},
					{
						"name": "State_White",
						"type": "String"
					},
					{
						"name": "State_Black",
						"type": "String"
					},
					{
						"name": "State_Hispanic",
						"type": "String"
					},
					{
						"name": "State_Asian",
						"type": "String"
					},
					{
						"name": "State_OtherRace",
						"type": "String"
					},
					{
						"name": "State_PoC",
						"type": "String"
					},
					{
						"name": "State_TwoPlusRaces",
						"type": "String"
					},
					{
						"name": "State_AmerIndAlaskaNat",
						"type": "String"
					},
					{
						"name": "State_NatHawaiianOtherPacIsl",
						"type": "String"
					},
					{
						"name": "State_SomeOtherRace",
						"type": "String"
					},
					{
						"name": "US_Total",
						"type": "String"
					},
					{
						"name": "US_Male",
						"type": "String"
					},
					{
						"name": "US_Female",
						"type": "String"
					},
					{
						"name": "US_White",
						"type": "String"
					},
					{
						"name": "US_Black",
						"type": "String"
					},
					{
						"name": "US_Hispanic",
						"type": "String"
					},
					{
						"name": "US_Asian",
						"type": "String"
					},
					{
						"name": "US_OtherRace",
						"type": "String"
					},
					{
						"name": "US_PoC",
						"type": "String"
					},
					{
						"name": "US_TwoPlusRaces",
						"type": "String"
					},
					{
						"name": "US_AmerIndAlaskaNat",
						"type": "String"
					},
					{
						"name": "US_NatHawaiianOtherPacIsl",
						"type": "String"
					},
					{
						"name": "US_SomeOtherRace",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch_Python')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch_Python_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch_Python_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch_Python_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlob_pythonteststorage1",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBatch_etalent1storage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBatch",
				"typeProperties": {
					"batchUri": "[parameters('AzureBatch_etalent1storage_properties_typeProperties_batchUri')]",
					"poolName": "[parameters('AzureBatch_etalent1storage_properties_typeProperties_poolName')]",
					"accountName": "[parameters('AzureBatch_etalent1storage_properties_typeProperties_accountName')]",
					"linkedServiceName": {
						"referenceName": "AzureBlob_Etalent1Storage",
						"type": "LinkedServiceReference"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Anonymization_Output_Core')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Creating anonymization review file (this one runs)",
				"activities": [
					{
						"name": "RunPython",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python3 Anonymization_Output_Core.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlob_Etalent1Storage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "processing/Python",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch_etalent1storage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ErrorMessage": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch_etalent1storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Anonymization_Output_Other')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Creating anonymization review file (this one runs)",
				"activities": [
					{
						"name": "CustomOther1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python3 Anonymization_Output_Other1.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlob_Etalent1Storage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "processing/Python",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch_etalent1storage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ErrorMessage": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch_etalent1storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Anonymization_Output_TA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Creating anonymization review file (this one runs)",
				"activities": [
					{
						"name": "RunPython",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python3 Anonymization_Output_TA.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlob_Etalent1Storage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "processing/Python",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch_etalent1storage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"ErrorMessage": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch_etalent1storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Anonymization_Review_Core')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Creating anonymization review file (this one runs)",
				"activities": [
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python3 Anonymization_Review_Corev2.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlob_Etalent1Storage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "processing/Python",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch_etalent1storage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch_etalent1storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Anonymization_Review_Other')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Creating anonymization review file (this one runs)",
				"activities": [
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python3 Anonymization_Review_Otherv2.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlob_Etalent1Storage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "processing/Python",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch_etalent1storage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch_etalent1storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Anonymization_Review_TA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Creating anonymization review file (this one runs)",
				"activities": [
					{
						"name": "Custom1",
						"type": "Custom",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"command": "python3 Anonymization_Review_TAv2.py",
							"resourceLinkedService": {
								"referenceName": "AzureBlob_Etalent1Storage",
								"type": "LinkedServiceReference"
							},
							"folderPath": "processing/Python",
							"referenceObjects": {
								"linkedServices": [],
								"datasets": []
							}
						},
						"linkedServiceName": {
							"referenceName": "AzureBatch_etalent1storage",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Client/Client Setup Routines"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureBatch_etalent1storage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_FactTbl_All_Hist')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_FactTbl_ApplStatus_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_Applicant_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_ApplStatus_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_Applicant_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_Applicant_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_ClientInfo_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_ApplStatus_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_ClientInfo_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_Core_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_ClientInfo_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_Core_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_DivSlate_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_Core_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_DivSlate_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_OtherCore_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_DivSlate_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_OtherCore_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_PerfRating_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_OtherCore_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_PerfRating_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_Req_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_PerfRating_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_Req_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_SilverMedalist_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_Req_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_SilverMedalist_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_Speedbumps_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_SilverMedalist_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_Speedbumps_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_Talent_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_Speedbumps_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_Talent_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_FactTbl_YearRef_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_FactTbl_Talent_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_FactTbl_YearRef_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Hist_Client_Dt": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Fact Tables/Load From Prior Engagement"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T14:43:29Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Append_Mapping_All_Hist')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Append_Mapping_BusHierarchy_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_ApplicantFlow_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_BusHierarchy_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_ApplicantFlow_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_ApplicantFlow_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_CorpTitle_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_BusHierarchy_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_CorpTitle_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_Disability_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_CorpTitle_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_Disability_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_Ethnicity_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_Disability_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_Ethnicity_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_Event_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_Ethnicity_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_Event_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_Gender_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_Event_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_Gender_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_LGTBQ_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_Gender_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_LGTBQ_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_Location_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_LGTBQ_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_Location_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_PerformanceRating_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_Location_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_PerformanceRating_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_ReqStatus_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_PerformanceRating_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_ReqStatus_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_ReqType_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_ReqStatus_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_ReqType_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Append_Mapping_Veteran_Hist",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Append_Mapping_ReqType_Hist",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Append_Mapping_Veteran_Hist",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"P_Client_Id": {
									"value": "@pipeline().parameters.P_Client_Id",
									"type": "Expression"
								},
								"P_Client_Dt": {
									"value": "@pipeline().parameters.P_Client_Dt",
									"type": "Expression"
								},
								"P_Hist_Client_Dt": {
									"value": "@pipeline().parameters.P_Hist_Client_Dt",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"P_Client_Id": {
						"type": "string"
					},
					"P_Client_Dt": {
						"type": "string"
					},
					"P_Hist_Client_Dt": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Client/Database/Load Mapping Tables/Load From Prior Engagement"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T14:43:29Z"
			},
			"dependsOn": []
		}
	]
}